<!DOCTYPE html>

<html>
    <head>
            <title>About</title>
            <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/hi.png">
        <p class="aboutTxt">I am a Software Developer and this website is just for DEMO.</p>
        <p class="aboutTxt">Thanks for visiting my website. Feel free to check weather of any Locality from this website.</p>
        </div>
        {{>footer}}
    </body>
</html>